<div id="stage">
  <div id="slide">
  </div>
  <dl>
    <dt>title</dt>
    <dd>スライド</dd>
    <dt>description</dt>
    <dd>概要概要概要概要概要概要概要概要概要概要</dd>
  </dl>
</div>

<div id="controller">
  <ul>
    <li id="first"><a href="#">&lt;&lt;</a></li>
    <li id="prev"><a href="#">&lt;</a></li>
    <li id="goto"><input id="gotoBox" type="text" size="2"></li>
    <li id="next"><a href="#">&gt;</a></li>
    <li id="last"><a href="#">&gt;&gt;</a></li>
  </ul>
</div>
