<div id="stage">
  <div id="wrapSlide">
    <div id="slide">
    </div>
  </div>
  <dl>
    <dt>title</dt>
    <dd><%=h slide[:title].presence %></dd>
    <dt>description</dt>
    <dd><%=h slide[:desc].presence %></dd>
  </dl>
</div>

<% if is_owner %>
  <iframe id="controllerIframe" frameborder="0"></iframe>
  <div id="controller">
    <ul>
      <li id="first"><a href="#">&lt;&lt;</a></li>
      <li id="prev"><a href="#">&lt;</a></li>
      <li id="goto"><input id="gotoBox" type="text" size="2"></li>
      <li id="next"><a href="#">&gt;</a></li>
      <li id="last"><a href="#">&gt;&gt;</a></li>
    </ul>
  </div>
<% end %>
