#stage
  #wrapSlide
    #slide
  %dl
    %dt title
    %dd='slide title'
    %dt description
    %dd='slide description'

- if true # オーナーだけ
  %iframe#controllerIframe{frameborder: 0}
  #controller
    %ul
      %li#first
        %a{href: '#'} &lt;&lt;
      %li#prev
        %a{href: '#'} &lt;
      %li#goto
        %input#gotoBox{type: 'text', size: '2'}
      %li#next
        %a{href: '#'} &gt;
      %li#last
        %a{href: '#'} &gt;&gt;
