#sidebar
  - if logged_in?
    %div
      =form_tag :rooms, method: 'get' do
        =search_field_tag :keyword, params[:keyword], placeholder: 'keyword'
    %ul#guestsList
      =content_tag :li, class: 'owner', id: "owner_#{@room.user.id}" do
        =image_tag(@room.user.icon_url)
        =@room.user.nickname
      - @guests.each do |guests|
        =content_tag :li, class: 'guest', id: "guest_#{guest.id}" do
          =image_tag(guest.icon_url)
          =guest.nickname
  - else
    =link_to 'twitter login', '/auth/twitter', id: 'login'

#main
  #stage
    #wrapSlide
      #slide{data: {id: @room.slide_id, doc: @room.slide_url}}
    %dl
      %dt title
      %dd=@room.title
      %dt description
      %dd=@room.description
  
  - if current_user == @room.user
    %iframe#controllerIframe{frameborder: 0}
    #controller
      %ul
        %li#first
          %a{href: '#'} &lt;&lt;
        %li#prev
          %a{href: '#'} &lt;
        %li#goto
          %input#gotoBox{type: 'text', size: '2'}
        %li#next
          %a{href: '#'} &gt;
        %li#last
          %a{href: '#'} &gt;&gt;
