// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=submit] {
  color: #333;
}

#slidesList, #roomsList {
  margin: 10px;
  .info {
    font-size: 80%;
  }
}

#usersList {
  .owner, .guest {
    margin: 10px;
    img {
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }
  }
}
